<div class="profile-card">
  <div class="profile-avatar">
    <img src="<%-url_for('/images/headimage.jpeg')%>" alt="">
  </div>
  <div class="">
    <h3 id="hi"><%-theme.owner_info.hi%></h3>

  </div>
  <div class="profile-description">
    <p><%= theme.owner_info.description %></p>
  </div>

  <div class="social">
    <% for (var i in theme.profile_subnav){ %>
      <a class="<%= i %>" target="_blank" href="<%- url_for(theme.profile_subnav[i]) %>" title="<%= i %>"><i class="icon-<%= i %>"></i></a>
        <%}%>
  </div>
  
  <hr class="profile-hr-dotted">


</div>
