<aside class="sidebar">
  <%-partial('partials/sidebar-profile')%>

  <%- css('css/sidebar') %>

  <% if (is_home() || is_tag() || is_archive()) { %>
    <%-partial('partials/tag_cloud', {cur_tags: site.tags})%>
  <% } else if (is_post()) { %>
    <%-partial('partials/tag_cloud', {cur_tags: page.tags})%>

    <%-partial('partials/sidebar-post-summary')%>


  <% } else if (is_category()) { %>
    <h2>category</h2>
  <% } %>

</aside>
